template
  div.row
    div.col-sm-6
      datepicker(ref="datepicker1" disabled.bind="disabled" value.bind="start")
    div.col-sm-6
      datepicker(ref="datepicker2" disabled.bind="disabled" value.bind="end")
